/* ADMIN BAR */

.pw-weak {
    display: none !important;
}

html,
html.wp-toolbar,
body,
body.wp-admin {
    font-size: 13px !important;
}

.nop {
    padding: 0;
}

html #wpadminbar {
    background: linear-gradient( 45deg, #fff056, #ff128b);
    height: 50px;
}

#wp-admin-bar-wp-logo.kommune-fylke {
    background: linear-gradient( 45deg, var(--color-primary-grey-lightest), var(--color-primary-grey-light), var(--color-primary-grey-medium)) !important;
    width: 100%;
    position: absolute !important;
    display: flex;
}
#wpadminbar li#wp-admin-bar-menu-toggle {
    z-index: 999999;
}
#wp-admin-bar-wp-logo.kommune-fylke.arrangement-side {
    background: linear-gradient( 45deg, var(--color-primary-bla-lightest), var(--color-primary-bla-100), var(--color-primary-bla-200)) !important;
}
#wp-admin-bar-wp-logo.kommune-fylke:hover a {
    background: transparent !important;
    color: #333 !important;
}
#wpadminbar #wp-admin-bar-wp-logo.kommune-fylke .ab-item {
    padding: 3px 15px;
}
#wpadminbar #wp-admin-bar-wp-logo.kommune-fylke .vis-nettsiden-link {
    font-size: 15px;
    padding: 6px;
    height: auto !important;
    display: flex;
}
#wpadminbar #wp-admin-bar-wp-logo.kommune-fylke .vis-nettsiden-link .dashicons {
    margin: auto !important;
}
#wpadminbar #wp-admin-bar-wp-logo.kommune-fylke .vis-nettsiden-link .navn {
    margin: auto;
    margin-left: 5px;
}
#wpadminbar #wp-admin-bar-wp-logo.kommune-fylke .vis-nettsiden-link:hover {
    background-color: #fff !important;
}
#adminmenuback, #adminmenuwrap{
    margin-top: 0 !important;
}

html.wp-toolbar {
    padding-top: 3.5rem;
}
#menu-dashboard:not(.show-item-always) {
    visibility: hidden;
    display: none;
}
#adminmenu {
    margin-top: 3px;
    border-top: none;
}
.news-item-inner, .min-side-nyheter-row {
    padding: 7px;
}
.col-xs-6.news-item {
    padding: 0;
}

@media screen and (max-width: 600px) {
    html.wp-toolbar {
        padding-top: .5rem;
    }
    html #wpadminbar {
        margin-top: -.5rem !important;
    }
    html #wpwrap.wp-responsive-open {
        padding-top: .5rem;
        margin-top: -.5rem;
    }
    #adminmenu {
        margin-top: -3px;
    }
}
@media screen and (max-width: 500px) {
    .news-item-inner .news .story .meta {
        display: grid !important;
    }
}

html #wpadminbar #wp-admin-bar-wp-logo a,
html #wpadminbar #wp-admin-bar-top-secondary {
    height: 1.9em !important;
    line-height: 1.9em;
    vertical-align: center;
    padding-top: .8em;
    padding-bottom: 1em;
}

html #wpadminbar #wp-admin-bar-site-link a.ab-item {
    margin-top: 0.75em;
}

html #wpadminbar #wp-admin-bar-top-secondary
 {
    margin-top: 0em;
}

html #wpadminbar #wp-admin-bar-wp-logo a {
    font-size: 1.6em;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 200;
}
#wp-admin-bar-wp-logo.arrangement-side>.ab-item {
    display: none !important;
}
#wp-admin-bar-wp-logo.arrangement-side .komm-fyl-arr-div .ab-item  {
    display: flex;
}

#wpadminbar #UKMlogo {
    height: 2.1em;
    margin: auto;
}

#wpadminbar .title-at-ukmlogo {
    font-size: 18px;
    margin: auto;
    margin-bottom: 3px;
    margin-left: 10px;
    max-height: 40px;
}
.title-at-ukmlogo {
    overflow: hidden;
}

#wpadminbar #wp-admin-bar-wp-logo>.ab-item {
    padding: .6rem .6rem .4rem .6rem;
    padding-top: 0;
    padding-bottom: 0;
    height: 100% !important;
    display: flex;
    padding-left: 15px;
}
#wpadminbar #wp-admin-bar-wp-logo.kommune-fylke .ab-item {
    background-color: transparent;
    height: auto !important;
}

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:after,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:active,
#wpadminbar .ab-item:focus,
#wpadminbar .ab-item:visited,
#wpadminbar .ab-item:hover {
    color: #000 !important;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a,
.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
    background: none !important;
    /* color: #fff !important; */
}
#wpadminbar #wp-admin-bar-menu-toggle a {
    height: 30px !important;
    width: 43px !important;
    display: flex !important;
    overflow: hidden;
}
#wpadminbar #wp-admin-bar-menu-toggle a .ab-icon {
    padding: 6px 3px !important;
    display: flex !important;
    margin: auto;
}
#wpadminbar #wp-admin-bar-menu-toggle a .ab-icon {
    height: 20px !important;
    width: 40px !important;
}
#wpadminbar #wp-admin-bar-menu-toggle .ab-item[aria-expanded="true"] .ab-icon::before {
    transform: scaleX(-1);
    transition: .1s;
    left: 0 !important;
}   
#wpadminbar a,
#wpadminbar .ab-icon,
#wpadminbar a:hover,
#wpadminbar a:visited,
#wpadminbar a:focus {
    color: #000;
}

#wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
    content: "\f345";
    font-size: 22px !important;
    position: absolute;
    top: -2px;
    width: 40px;
    height: 30px;
    font: normal 40px/35px dashicons;
    transition: .1s;
    left: 2px !important;
}

@media screen and (max-width: 782px) {
    #wpadminbar li#wp-admin-bar-menu-toggle {
        float: left;
        margin: 10px 15px;
    }
    #wp-admin-bar-menu-toggle {
        display: block;
    }
    #wpadminbar li#wp-admin-bar-wp-logo {
        display: block;
    }
    .komm-fyl-arr-div {
        margin-left: 50px !important;
    }
    .komm-fyl-arr-div #UKMlogo {
        height: 2.1em;
        margin: 7px auto !important;
    }
    .komm-fyl-arr-div .title-at-ukmlogo {
        display: none !important;
    }
    #wpadminbar #wp-admin-bar-wp-logo.kommune-fylke .vis-nettsiden-link .dashicons {
        display: none;
    }
    #wpadminbar #wp-admin-bar-wp-logo.kommune-fylke .vis-nettsiden-link .navn {
        margin: auto 0;
    }
    .news .header a {
        font-size: 17px;
    }
    .auto-fold #wpcontent {
        padding-left: 0;
    }
}
@media screen and (max-width: 960px) {
    .velkommen-til-minside {
        display: none;
    }
    .min-side-main-div, .main-side-left {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .min-side-main-div, .main-side-left {
        /* reverse display */
        display: flex;
        flex-direction: column-reverse;
    }
    #upcomingEvents {
        margin-top: calc(2*var(--initial-space-box));
    }
}
.row {
    margin-left: -15px !important;
}
.komm-fyl-arr-div .title-at-ukmlogo {
    margin-bottom: 0px !important;
}
.komm-fyl-arr-div {
    display: flex;
}
#wp-admin-bar-wp-logo {
    height: 50px;;
}
.news-image-div {
    position: relative;
    display: flex;
}
.news-image-div img {
    margin: auto;
    width: 100%;
    border: none !important;
}
.news-item-inner .news .story .meta {
    background: var(--color-primary-grey-lightest);
    padding: var(--initial-space-box) !important;
    margin: auto;
    width: 100%;
    border: none;
    display: block;
}

/* ADMIN MENY */


/* MENYELEMENTER */

html #adminmenu li.menu-top.current>a,

/* første element */

html #adminmenu li.menu-top.wp-menu-open>a {
    background-color: #428bca;
}

html #adminmenu li.menu-top>a:hover {
    background-color: #5bc0de;
}


/* IKONER */


/* inaktive */

html #adminmenu li.menu-top div.wp-menu-image::before {
    color: #428bca;
}

html #adminmenu li.menu-top>a:hover div.wp-menu-image::before,
html #adminmenu li.menu-top:hover div.wp-menu-image::before,
html #adminmenu li.menu-top:focus div.wp-menu-image::before {
    color: #fff;
}


/* aktive */

html #adminmenu li.menu-top.current>a div.wp-menu-image::before,

/* første element */

html #adminmenu li.menu-top.wp-menu-open div.wp-menu-image::before {
    color: #fff;
}


/* POSISJONERING OG STØRRELSE PÅ DESKTOP */

@media screen and (min-width: 960px) {
    #adminmenu div.wp-menu-image {
        float: none;
        width: 100%;
        height: 3em;
        text-align: center;
    }
    #adminmenu div.wp-menu-image::before {
        font-size: 2em;
        margin-top: .4em;
        margin-bottom: .6em;
        margin-left: -.4em;
    }
    #adminmenu div.wp-menu-image img {
        width: 2em;
    }
    #adminmenu div.wp-menu-name {
        padding: .5em 0 1.2em 0;
        text-align: center;
    }
}


/* Skjul pilen */

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu>li.current>a.current:after {
    display: none;
}

/* Skjul Get involved knappen */
#wpadminbar li.hover>.ab-sub-wrapper,#wpadminbar.nojs li:hover>.ab-sub-wrapper {
    display: none;
}

/* Dropdown bruker */
#arrangorBrukerMenu {
    position: absolute;
    left: -150px;
    margin-top: 4px;
    width: 150px;
    box-shadow: 0px 0px 5px 2px #9a9a9a4f !important;
    border-radius: 10px !important;
    width: 200px;
    overflow: hidden;
}
#arrangorBrukerMenu .mainpage .dropdown-item.drop-item {
    padding: 8px 16px !important;
}
#buttonBrukerMenu {
    height: 30px;
}
#buttonBrukerMenu button {
    background: transparent;
    height: 32px !important;
    width: 23px !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 10px !important;
    border-radius: var(--radius-normal);
    transition: all .1s;
}
#wp-admin-bar-menu-toggle .ab-item {
    border-radius: var(--radius-normal);
    transition: all .1s;
}
#buttonBrukerMenu button:hover,
#wpadminbar #wp-admin-bar-menu-toggle a:hover {
    background-color: #fff !important;
    transition: all .1s;
}
#buttonBrukerMenu button .hamburger-inner {
    background-color: #000000 !important;
    width: 100% !important;
    height: 3px;
    border-radius: 10px !important;
    margin: 5px 0;
}
#wp-admin-bar-logout {
    margin-right: 15px !important;
    display: inline-block !important;
}
#wp-admin-bar-logout:hover .ab-item {
    background: transparent !important;
}
#wp-admin-bar-logout .ab-item {
    padding: 0 !important;
}
#arrangorBrukerMenu .mainpage .drop-item:hover {
    background: var(--color-primary-grey-lightest) !important;
}
.news .header a {
    word-break: break-word;
}